<p>
  <b>Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}</b><br />
  Powered by
    <a href="http://octopress.org/">octopress</a>,
    <a href="http://orgmode.org/">org-mode</a>, and
    <a href="http://github.com/vladigleba/readify">readify</a>.
  <pre>
  Poems written in this website are free. You can redistribute it and/or modify
  it under the terms of the Do What The Fuck You Want To Public License,
  Version 2, as published by Sam Hocevar. See <a
  href="http://www.wtfpl.net/">http://www.wtfpl.net/</a> for more details.
  </pre>
</p>
